@{
    ViewData["Title"] = "Реєстація";
}
﻿@using ASp_MVC.ViewModels
@model User
<h2 >Реєстрація</h2>
<form method="post" asp-action="SignUp" >
    <div >
        <input type="text" asp-for="Login" placeholder="Ваш логін" required>
        <span asp-validation-for="Login" ></span>
    </div>
    <div >
        <input type="password" asp-for="Password" placeholder="Пароль" required>
        <span asp-validation-for="Password" ></span>
    </div>

    <button type="submit" >Підтвердити</button>
</form>